body {
    background-color: #ecf5f56c; 
    margin: 5px;
}

h1 {
    font-size: 2.5rem;
    color: #291c31; 
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.new-task-btn {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1.5rem; 
}

button.btn.btn-danger {
    margin-top: 3px;
}

.tarea_Descripcion {
    margin-left: 3;
}

.tarea_Horas{
    margin-left: 3;
}

.tarea_Prioridad{
    margin-left: 3;
}

.tarea_Completado{
    margin-left: 3;
}